<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h1>BOOKS</h1>  
            <div class="row g-3 mt-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                    <div class="card" style="width: 18rem;">
                        <img height="300px" width="200px" src="https://b9r8e6p9.stackpathcdn.com/app/uploads/2021/03/This-Tender-Land_SS.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">THIS TENDER LAND</h5>
                          <p class="card-text">WILLIAM KENT KRUEGER</p>
                          <a href="#" class="btn btn-primary">VIEW MORE</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                    <div class="card" style="width: 18rem;">
                        <img height="300px" width="200px" src="https://m.media-amazon.com/images/I/814Ynk2xy8S.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">THE GREATEST NOVELS</h5>
                          <p class="card-text">MARK TWAIN</p>
                          <a href="#" class="btn btn-primary">VIEW MORE</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                    <div class="card" style="width: 18rem;">
                        <img height="300px" width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0kKehQ504Q16ciQXKybxgjvgwJCM__vVzjZ8NLULnadwnha63BuPv6-Go3ew54G5fsws&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">HARRY POTTER</h5>
                          <p class="card-text">J K ROWLING</p>
                          <a href="#" class="btn btn-primary">VIEW MORE</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                    <div class="card" style="width: 18rem;">
                        <img height="300px" width="200px" src="https://images-na.ssl-images-amazon.com/images/I/51ORemi6ZzL.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">DAYS WITHOUT END</h5>
                          <p class="card-text">SEBASTIAN BARRY</p>
                          <a href="#" class="btn btn-primary">VIEW MORE</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                    <div class="card" style="width: 18rem;">
                        <img height="300px" width="200px" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1619103580-510GRvgpNRL._SL500_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">BRIDGERTON</h5>
                          <p class="card-text">JULIA QUINN</p>
                          <a href="#" class="btn btn-primary">VIEW MORE</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                    <div class="card" style="width: 18rem;">
                        <img height="300px" width="200px" src="https://qph.cf2.quoracdn.net/main-qimg-4e8c02f213d9ca0c8706b92ae078d8d1-pjlq" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">IT ENDS WITH US</h5>
                          <p class="card-text">COLLEEN HOOVER</p>
                          <a href="#" class="btn btn-primary">VIEW MORE</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                    <div class="card" style="width: 18rem;">
                        <img height="300px" width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiSwXEn2dIXz__kKTZ13QNvdJANAYhJ5xv5g&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">THE DARK ROAD </h5>
                          <p class="card-text">MA JIAN</p>
                          <a href="#" class="btn btn-primary">VIEW MORE</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                    <div class="card" style="width: 18rem;">
                        <img height="300px" width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsyohFdxSVj56D2JSV5iXH1y7-0jKFB-15Lh7DZPQSG4huxqilUoVlApXrg00Bqz73Yhc&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">THE OVER STORY</h5>
                          <p class="card-text">RICHARD POWERS</p>
                          <a href="#" class="btn btn-primary">VIEW MORE</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                    <div class="card" style="width: 18rem;">
                        <img height="300px" width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4_BgX6LW8mkzNJWx2il0vkBWhedDRDT2sTxpaiW-OL_3vkqj4mXwXZoOowo38Q_ed6Ck&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">WHEN THE LION ROARS</h5>
                          <p class="card-text">DIANN MILLS</p>
                          <a href="#" class="btn btn-primary">VIEW MORE</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                    <div class="card" style="width: 18rem;">
                        <img height="300px" width="200px" src="https://kidlitcraft.com/wp-content/uploads/2017/10/pax.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">PAX</h5>
                          <p class="card-text">SARA PENNYPACKER</p>
                          <a href="#" class="btn btn-primary">VIEW MORE</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                    <div class="card" style="width: 18rem;">
                        <img height="300px" width="200px" src="https://upload.wikimedia.org/wikipedia/en/b/b8/Contractwithgod.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">A CONTRACT WITH GOD</h5>
                          <p class="card-text">WILL EISNER</p>
                          <a href="#" class="btn btn-primary">VIEW MORE</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                    <div class="card" style="width: 18rem;">
                        <img height="300px" width="200px" src="https://i.ebayimg.com/images/g/GTUAAOSwQW5f~4Rj/s-l640.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">GOOD AND EVIL</h5>
                          <p class="card-text">MICHAEL PEARL</p>
                          <a href="#" class="btn btn-primary">VIEW MORE</a>
                        </div>
                      </div>

            </div>
        </div>
    </div>
</div>